/* .pdf{
    display: flex;
    gap: 5rem;
}
.pdf>button{
    width: 7rem;
    background-color: royalblue;
    color: white;
    font-size: 1.2rem;
    padding: 0.2rem;
    border-style: none;
    border-radius: 5px;
} */