.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}
.App>div{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pdf{
    display: flex;
    gap: 5rem;
    flex-direction: row;
    justify-content: center;
}
.whatever{
  display: flex;
  gap:50vw
}
.pdf>div>button{
    width: 10rem;
    background-color: royalblue;
    color: white;
    font-size: 1.2rem;
    padding:0.5rem;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    margin-left: 3rem;
} 
