*:focus{
    outline: none;
}
.education{
    width: 100%;
    height: 35%;
   
    background-color: black;
    position: relative;
}

.educationDispaly{
    position: relative;
    width: 100%;
    height: 100%;

}
.edit{
    position: absolute;
    top:10px;
    right:10px;
    color: white;

}
.head{
    width: 90%;
    height:3rem;
    padding-bottom:0.5rem;
    /* background-color: rgb(8, 8, 32); */
    color: white;
    font-size: 1.5rem;
    border-style: solid;
    border-width: 0px 0px 3px 0px;
    border-color: yellow;
    margin-left: 10%;
    text-align: left;
}

.educationFinal{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}
.educationFinal>p{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    text-align: left;
    margin:  0px 0px 0px 60px;
}
.educationFinal>span{
    color: white;
    text-align: left;
    margin:  0px 0px 0px 60px;
}

.form{
    width: 90%;
    padding: 0.2rem;
    margin: 0.3rem;
   position: relative;
    background-color:rgb(56, 65, 49);
    box-shadow:  5px 5px rgba(121, 96, 96, 0.452);
    display: flex;
    flex-direction: column;
    z-index: 10;
    border-radius: 4px;
gap: 5px;


}
.form>input{
    border-color: royalblue;
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;


}
.form>button{
    width: 5rem;
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: 700;
    background-color: cornflowerblue;
    border-radius: 4px;
    color: white;
    float:left;
}
.form>label{
    color: white;
    font-style: italic;
    font-weight: 700;
}
